<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.king.app.workhelper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".app.WorkHelperApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_label}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label, android:theme, android:name">

        <!--exported:要求必须为false，为true则会报安全异常。grantUriPermissions:true，表示授予 URI 临时访问权限。-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_share_paths"/>
        </provider>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.HomeActivity">

        </activity>
        
        <activity android:name=".activity.UploadImageActivity">

        </activity>

        <activity android:name=".activity.MainActivity">

        </activity>

        <activity android:name=".activity.WebActivity">

        </activity>
        <activity android:name=".activity.WebActivity2">

        </activity>

        <activity android:name=".activity.WebViewLocateActivity">

        </activity>

        <activity android:name=".activity.ToolbarActivity">

        </activity>

        <activity
            android:name=".activity.CrashedActivity"
            android:process=":error">

        </activity>

        <activity
            android:name=".activity.TabSwitchActivity">

        </activity>

        <activity
            android:name=".activity.SchemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <!--android:scheme: 唤起协议
                android:host: 唤起host，只有置顶的host才可被唤起
                android:pathPrefix: 唤起的路径，对路径进一步的过滤-->
                <data android:scheme="scheme"/>
            </intent-filter>
        </activity>

        <!-- 微博分享 -->
        <activity
            android:name=".activity.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        
        <activity android:name=".activity.RecyclerViewActivity"/>
        
        <activity android:name=".activity.DebugActivity"/>

        <activity android:name=".activity.X5BrowserActivity"/>

        <service android:name=".service.DownloadFileService"/>

        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".service.MessengerService"
            android:process=":remote"/>

        <receiver android:name=".receiver.NetworkChangeReceiver">
            <intent-filter>
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>