<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.king.app.workhelper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".app.WorkHelperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.ViewPagerActivity">

        </activity>

        <service
            android:name=".thirdparty.tinker.SampleResultService"
            android:exported="false"/>

        <activity android:name=".activity.TinkerSampleActivity">
        </activity>
        <activity android:name=".activity.SampleRetrofitActivity">
        </activity>
        <activity android:name=".activity.SampleWebViewActivity">

        </activity>
        <activity android:name=".activity.CustomViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.WebViewActivity">

        </activity>
        <activity android:name=".activity.WebActivity2">

        </activity>
        <activity android:name=".activity.DownloadSampleActivity">

        </activity>
        <activity android:name=".activity.IntentServiceActivity">

        </activity>

        <activity android:name=".activity.WebViewLocateActivity">

        </activity>

        <service android:name=".service.AppDownloadService"/>
    </application>

</manifest>